<form action = "/write" method = "POST">
  <p>
    <textarea name="local" rows="3" cols="20"></textarea>
  </p>
  <p>
    <input type="date" name="date">
  </p>
  <p>
    <input type="time" name="starttime"> ~ <input type="time" name="finishtime">
  </p>
  <p>
    <textarea name="money" rows="3" cols="20"></textarea>
  </p>
  <p>
    <input type="radio" name="work" value="필요"> 필요
    <input type="radio" name="work" value="불필요"> 불필요
  </p>
  <p>
    <textarea name="title" rows="3" cols="20"></textarea>
  </p>
  <p>
    <textarea name="content" rows="3" cols="20"></textarea>
  </p>
   <p>
    <button type="submit">submit</button>
  </p>
</form>
<a href="/users/sign_out">로그아웃</a>