<br>
<br>
<br>
<br>
<br>
  <h1>MYPAGE</h1>
  <br>


  
<div class="container">
 <div class="row">
    <div class="col">
      <div class="card" style="width: 20rem;">
        
        <a href="/mynotetwo"><img class="card-img-top" src="star.png" alt="Card image cap"></a>
          <div class="card-block">
            <br>
            <h4 class="card-title">내가 쓴 글</h4>
            <p class="card-text">내가 쓴글을 확인해보세요.</p><br>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
        <a href="likes/show"><img class="card-img-top" src="scrap.png" alt="Card image cap"></a>
          <div class="card-block">
            <br>
            <h4 class="card-title">관심있는 대타</h4>
            <p class="card-text">스크랩한 대타 글을 확인해보세요.</p><br>
          </div>
      </div>
    </div>
    <div class="col">
     <div class="card" style="width: 20rem;">
      <a href="/mypage/mbox"><img class="card-img-top" src="post.png" alt="Card image cap"></a>
        <div class="card-block">
          <br>
          <h4 class="card-title">쪽지함</h4>
          <p class="card-text">주고받은 쪽지를 확인해보세요.</p><br>
        </div>
      </div>
    </div>
  </div>
</div>

  
