
<form action = "/deta_write" method="POST">
  <input type="hidden" name="user_id" value="<%= current_user.id %>">
  
  <p>
    업종: <select name="type">
            <option value="외식음료">외식음료</option>
            <option value="문화여가">문화여가</option>
            <option value="서비스">서비스</option>
            <option value="디자인">디자인</option>
            <option value="과외">과외</option>
            <option value="미디어">미디어</option>
            <option value="기타">기타</option>
          </select>
  </p>
  <p>
    지역: <textarea name="local" rows="1" cols="20" placeholder="서울시용산구"></textarea>
  </p>
  <p>
    날짜: <input type="date" name="date">
  </p>
  <p>
    시간: <input type="time" name="starttime"> ~ <input type="time" name="finishtime">
  </p>
  <p>
    시급: <input type="text"  name="money" rows="3" cols="20" placeholder="7000원"></textarea>
  </p>  
    경력: <input type="radio" name="work" value="필요" checked> 필요
          <input type="radio" name="work" value="불필요"> 불필요
  </p>
  <p>
    상호명: <input type="text"name="title" rows="3" cols="20" placeholder="유니라이언"></textarea><br>
  </p>  
  <p>
    <textarea name="content" rows="10" cols="100" placeholder="급여는 당일 지급해드립니다!"></textarea><br>
  </p>
    <button type="submit">submit</button>
 </form>
